@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  display: block;
}

.container-setting {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 5px;
}

#btn-setting {
  border: none;
  color: #f5f5f5;
}

#btn-setting:focus {
  outline: 0;
}

#btn-setting:active {
  transform: translateY(4px);
}

.container-setting svg {
  width: 25px;
  height: 25px;
  border: 0;
  background-color: #f5f5f5;
  color: #bfc0c3;
}

.container-setting svg:hover {
  color: #666;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #4a74a4;
  margin-bottom: 40px;
}

.container-header img {
  height: 30vh;
}

.container-header h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: 500;
}

label {
  margin-left: 100px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80vw;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.no-btn {
  width: 63vw;
}

svg {
  color: #fff;
}

.btn:hover {
}

.search {
  position: absolute;
  content: "Select some files";
  border: 10px;
  border-color: red;
  margin-left: 212px;
  width: 42px;
  height: 38px;
  z-index: 10;
  color: black;
  /*visibility: hidden;*/
  opacity: 0;
}

#search-retorno {
  visibility: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-move {
  margin-top: 60px;
  margin-right: 40px;
  height: 40px;
  width: 100px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}

.modal-container.show {
  display: flex;
}

#progress-bar {
  display: flex;
  background-color: white;
  width: 50vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

#spinner {
  width: 60px;  
  height: 60px;
}

.modal-header {
  color: white;
  background: #38a2d6;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
}

.modal-header span {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.modal-header span #gear-config {
  margin-right: 5px;
}

.modal-header a {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 0 20px;
  font-size: 16px;
  height: 100%;
}

#modal-setting {
  width: 90vw;
  height: 80vh;
  background-color: white;
  z-index: 20;
}
